# Testing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import *
from statistics import mean
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from pandas.core.common import SettingWithCopyWarning
import warnings

In [2]:
data = './datasets/anime_data.csv'

In [3]:
df = pd.read_csv(data)

In [4]:
df.head(2)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),8.79,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,7.21,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV

In [5]:
df.head(5)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),8.79,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,7.21,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,7.71,7059,Manga,Finished Airing,"[{'mal_id': 18, 'name': 'Toei Animation'}]",It is 2977 AD and mankind has become stagnant....,Uchuu Kaizoku Captain Herlock,Space Pirate Captain Harlock,TV
3,10003,2008-01-01T00:00:00+00:00,NaN,2 min per ep,15,"['Comedy', 'Dementia', 'Horror', 'Seinen']",6848,NaN,10146.0,R+ - Mild Nudity,5.05,1181,Original,Finished Airing,[],"In these jokey short films, many of them crude...",Kago Shintarou Anime Sakuhin Shuu,NaN,OVA
4,10005,2007-03-31T00:00:00+00:00,NaN,1 hr 35 min,1,"['Action', 'Adventure', 'Mecha', 'Sci-Fi']",10765,NaN,6121.0,G - All Ages,6.43,228,Unknown,Finished Airing,"[{'mal_id': 455, 'name': 'Palm Studio'}]",This theatrical version based on the manga by ...,Tetsujin 28-gou: Hakuchuu no Zangetsu,NaN,Movie

In [6]:
df.isnull().sum()

mal_id              0
aired_from          5
aired_to         5368
duration            0
episodes            0
genres              0
popularity          0
premiered        7880
rank             1282
rating              0
score               0
scored_by           0
source              0
status              0
studios             0
synopsis          237
title               0
title_english    5941
type                0
dtype: int64

Missing value = premiered = 7880, rank = 1282, synopis = 237, title_eng = 5941

In [7]:
df = df.dropna()
df.head(5)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),8.79,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,7.21,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,7.71,7059,Manga,Finished Airing,"[{'mal_id': 18, 'name': 'Toei Animation'}]",It is 2977 AD and mankind has become stagnant....,Uchuu Kaizoku Captain Herlock,Space Pirate Captain Harlock,TV
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24 min per ep,73,"['Action', 'Fantasy', 'Game', 'Shounen']",2167,Spring 2011,6482.0,PG-13 - Teens 13 or older,6.35,23161,Manga,Finished Airing,"[{'mal_id': 36, 'name': 'Gallop'}]",Yu☆Gi☆Oh! Zexal follows the adventures of Yuum...,Yu☆Gi☆Oh! Zexal,Yu-Gi-Oh! Zexal,TV
15,10030,2011-10-01T00:00:00+00:00,2012-03-24T00:00:00+00:00,24 min per ep,25,"['Comedy', 'Drama', 'Romance', 'Shounen']",450,Fall 2011,135.0,PG-13 - Teens 13 or older,8.41,162355,Manga,Finished Airing,"[{'mal_id': 7, 'name': 'J.C.Staff'}]","With the serialization of their new manga, ""De...",Bakuman. 2nd Season,Bakuman.,TV

In [8]:
print('Num of dup: ', df.duplicated().sum())

Num of dup:  0

In [9]:
df['type'].unique()

array(['TV'], dtype=object)

In [10]:
df['source'].unique()

array(['Original', 'Manga', 'Game', 'Visual novel', 'Light novel',
       'Novel', 'Unknown', '4-koma manga', 'Other', 'Web manga',
       'Card game', 'Music', 'Book', 'Picture book', 'Digital manga'],
      dtype=object)

In [11]:
dummie1 = pd.get_dummies(df.type)
dummie1.head(5)

    TV
0    1
1    1
2    1
8    1
15   1

In [12]:
import numpy as np
import scipy as sc
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler, LabelEncoder

In [13]:
label = LabelEncoder()

In [14]:
dummie2 = pd.get_dummies(df.source)
dummie2.head(5)

,4-koma manga,Book,Card game,Digital manga,Game,Light novel,Manga,Music,Novel,Original,Other,Picture book,Unknown,Visual novel,Web manga
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [15]:
print("Type: \n", df["source"].value_counts())

Type:
 Manga            898
Original         512
Light novel      279
Game             136
Unknown          127
Visual novel     108
Novel             84
4-koma manga      82
Web manga         57
Other             51
Book              19
Card game         17
Music              5
Digital manga      5
Picture book       4
Name: source, dtype: int64

In [16]:
dummie2 = dummie2.drop(['Picture book', 'Digital manga', 'Music'], axis = 'columns')
dummie2.head(4)

,4-koma manga,Book,Card game,Game,Light novel,Manga,Novel,Original,Other,Unknown,Visual novel,Web manga
0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
df_merge = pd.concat([df, dummie1, dummie2], axis = 'columns')
df_merge.head(4)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,...,Card game,Game,Light novel,Manga,Novel,Original,Other,Unknown,Visual novel,Web manga
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),...,0,0,0,0,0,1,0,0,0,0
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,...,0,0,0,1,0,0,0,0,0,0
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,...,0,0,0,1,0,0,0,0,0,0
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24 min per ep,73,"['Action', 'Fantasy', 'Game', 'Shounen']",2167,Spring 2011,6482.0,PG-13 - Teens 13 or older,...,0,0,0,1,0,0,0,0,0,0

In [18]:
print("Type: \n", df_merge['rating'].value_counts())

Type:
 PG-13 - Teens 13 or older         1443
R - 17+ (violence & profanity)     362
G - All Ages                       231
R+ - Mild Nudity                   182
PG - Children                      157
None                                 9
Name: rating, dtype: int64

In [19]:
print("Rating: \n", df_merge["rating"].unique(), "\n")
print("Duration: \n", df_merge['duration'].unique(), "\n")
print("Premiered: \n", df_merge["premiered"].unique(), "\n")
print("Genre: \n", df_merge["genres"].unique(), "\n")

Rating:
 ['R - 17+ (violence & profanity)' 'PG-13 - Teens 13 or older'
 'R+ - Mild Nudity' 'G - All Ages' 'PG - Children' 'None']

Duration:
 ['24 min per ep' '23 min per ep' '25 min per ep' '22 min per ep'
 '28 min per ep' '3 min per ep' '12 min per ep' '21 min per ep'
 '1 min per ep' '26 min per ep' '14 min per ep' '27 min per ep'
 '45 min per ep' '20 min per ep' '7 min per ep' '5 min per ep'
 '2 min per ep' '4 min per ep' '15 min per ep' '8 min per ep'
 '10 min per ep' '13 min per ep' '11 min per ep' '30 min per ep'
 '19 min per ep' '29 min per ep' '17 min per ep' '9 min per ep'
 '18 min per ep' '50 sec per ep' '6 min per ep' '50 min per ep'
 '16 min per ep']

Premiered:
 ['Spring 1998' 'Spring 2001' 'Spring 1978' 'Spring 2011' 'Fall 2011'
 'Summer 2011' 'Winter 2005' 'Fall 1998' 'Winter 2011' 'Fall 1999'
 'Winter 2002' 'Summer 1999' 'Winter 1994' 'Summer 2012' 'Spring 2000'
 'Winter 2012' 'Fall 1996' 'Fall 1997' 'Fall 2003' 'Spring 2002'
 'Spring 2012' 'Winter 2004' 'Spring 2004' 'Summer 2010' 'Spring 2007'
 'Fall 1982' 'Summer 2001' 'Spring 1999' 'Fall 2005' 'Summer 2002'
 'Spring 2003' 'Winter 2000' 'Summer 2006' 'Fall 2001' 'Spring 1983'
 'Fall 1995' 'Spring 1997' 'Summer 2013' 'Fall 2012' 'Summer 1994'
 'Fall 2013' 'Spring 2006' 'Spring 1995' 'Fall 2004' 'Spring 2005'
 'Spring 1990' 'Fall 1986' 'Winter 1990' 'Spring 1988' 'Spring 2013'
 'Summer 1982' 'Fall 2000' 'Fall 1981' 'Fall 2002' 'Fall 1993'
 'Summer 2003' 'Summer 1984' 'Spring 1987' 'Summer 2004' 'Fall 1971'
 'Winter 2013' 'Spring 1967' 'Spring 1981' 'Summer 2000' 'Spring 1986'
 'Winter 2003' 'Summer 1975' 'Winter 1992' 'Winter 2001' 'Fall 2006'
 'Summer 1996' 'Spring 1996' 'Winter 2006' 'Winter 2014' 'Fall 1965'
 'Winter 1995' 'Winter 2007' 'Winter 1989' 'Summer 2005' 'Fall 1974'
 'Fall 1978' 'Fall 1980' 'Winter 1973' 'Summer 2007' 'Summer 1980'
 'Summer 1998' 'Fall 2014' 'Spring 2015' 'Spring 2014' 'Winter 1997'
 'Summer 1983' 'Summer 1997' 'Fall 1984' 'Spring 1977' 'Fall 1994'
 'Summer 2014' 'Spring 1989' 'Summer 2015' 'Winter 2008' 'Winter 1980'
 'Winter 2015' 'Fall 2007' 'Fall 1977' 'Winter 1986' 'Winter 1979'
 'Winter 1996' 'Spring 1985' 'Fall 1987' 'Spring 1993' 'Fall 1972'
 'Fall 2015' 'Spring 1970' 'Fall 1988' 'Spring 1979' 'Summer 1981'
 'Summer 1990' 'Winter 1981' 'Winter 1985' 'Winter 1987' 'Winter 1975'
 'Winter 1988' 'Winter 1991' 'Winter 1993' 'Spring 1976' 'Fall 1983'
 'Fall 1989' 'Spring 1975' 'Winter 1982' 'Winter 1977' 'Spring 2017'
 'Winter 1984' 'Fall 1992' 'Fall 1963' 'Winter 1999' 'Winter 1963'
 'Spring 1992' 'Winter 2016' 'Spring 2016' 'Spring 1991' 'Winter 2017'
 'Fall 1969' 'Spring 2008' 'Winter 1983' 'Summer 2016' 'Fall 2016'
 'Spring 2018' 'Fall 1985' 'Spring 1984' 'Spring 1982' 'Fall 2017'
 'Winter 2019' 'Summer 2017' 'Summer 1988' 'Winter 1969' 'Summer 2018'
 'Winter 2018' 'Summer 1978' 'Spring 1994' 'Fall 2009' 'Winter 1967'
 'Fall 1979' 'Winter 1978' 'Fall 1991' 'Spring 2019' 'Summer 2008'
 'Winter 2020' 'Spring 1974' 'Fall 2018' 'Spring 2009' 'Fall 2008'
 'Fall 2019' 'Summer 1986' 'Summer 2019' 'Winter 1998' 'Winter 2009'
 'Spring 1971' 'Fall 1976' 'Spring 2020' 'Fall 1975' 'Summer 2020'
 'Summer 1985' 'Spring 1969' 'Summer 1977' 'Fall 1973' 'Summer 2009'
 'Spring 1980' 'Summer 1976' 'Fall 1968' 'Spring 2010' 'Winter 2010'
 'Fall 2010' 'Summer 1991' 'Spring 1968' 'Summer 1987']

Genre:
 ["['Action', 'Adventure', 'Comedy', 'Drama', 'Sci-Fi', 'Space']"
 "['Comedy', 'Drama', 'Fantasy', 'Magic', 'Romance', 'Shoujo', 'Super Power']"
 "['Action', 'Sci-Fi', 'Adventure', 'Space', 'Drama', 'Seinen']" ...
 "['Adventure', 'Comedy', 'Drama', 'Fantasy', 'Magic', 'Romance', 'Shoujo']"
 "['Action', 'Adventure', 'Comedy', 'Demons', 'Drama', 'Ecchi', 'Horror', 'Mystery', 'Romance', 'Sci-Fi']"
 "['Slice of Life', 'Supernatural', 'Drama']"]

In [20]:
def rating(x):
    if x == 'PG-13 - Teens 13 or older':
        return 1
    elif x == 'R - 17+ (violence & profanity)':
        return 2
    elif x == 'G - All Ages':
        return 3
    elif x == 'R+ - Mild Nudity':
        return 4
    elif x == 'PG - Children':
        return 5
    elif x == 'None':
        return 0

df_merge['rating'] = df_merge['rating'].apply(rating)

In [21]:
print("Type: \n", df_merge['rating'].value_counts())

Type:
 1    1443
2     362
3     231
4     182
5     157
0       9
Name: rating, dtype: int64

In [22]:
df_merge['duration'] = df_merge['duration'].map(lambda x: x.rstrip(' per ep'))

In [23]:
df_merge.head(4)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,...,Card game,Game,Light novel,Manga,Novel,Original,Other,Unknown,Visual novel,Web manga
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,2,...,0,0,0,0,0,1,0,0,0,0
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,1,...,0,0,0,1,0,0,0,0,0,0
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25 min,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,1,...,0,0,0,1,0,0,0,0,0,0
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24 min,73,"['Action', 'Fantasy', 'Game', 'Shounen']",2167,Spring 2011,6482.0,1,...,0,0,0,1,0,0,0,0,0,0

In [24]:
df_merge['duration'].unique()

array(['24 min', '23 min', '25 min', '22 min', '28 min', '3 min',
       '12 min', '21 min', '1 min', '26 min', '14 min', '27 min',
       '45 min', '20 min', '7 min', '5 min', '2 min', '4 min', '15 min',
       '8 min', '10 min', '13 min', '11 min', '30 min', '19 min',
       '29 min', '17 min', '9 min', '18 min', '50 sec', '6 min', '50 min',
       '16 min'], dtype=object)

In [25]:
df_merge['duration'] =  df_merge['duration'].str.replace(' min', '*1').str.replace(' sec', '*(1/60)').apply(eval)

In [26]:
df_merge.head(3)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,...,Card game,Game,Light novel,Manga,Novel,Original,Other,Unknown,Visual novel,Web manga
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,2,...,0,0,0,0,0,1,0,0,0,0
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,1,...,0,0,0,1,0,0,0,0,0,0
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,1,...,0,0,0,1,0,0,0,0,0,0

In [27]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2384 entries, 0 to 11329
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mal_id         2384 non-null   int64
 1   aired_from     2384 non-null   object
 2   aired_to       2384 non-null   object
 3   duration       2384 non-null   float64
 4   episodes       2384 non-null   int64
 5   genres         2384 non-null   object
 6   popularity     2384 non-null   int64
 7   premiered      2384 non-null   object
 8   rank           2384 non-null   float64
 9   rating         2384 non-null   int64
 10  score          2384 non-null   float64
 11  scored_by      2384 non-null   int64
 12  source         2384 non-null   object
 13  status         2384 non-null   object
 14  studios        2384 non-null   object
 15  synopsis       2384 non-null   object
 16  title          2384 non-null   object
 17  title_english  2384 non-null   object
 18  type           2384 non-null   object
 19  TV             2384 non-null   uint8
 20  4-koma manga   2384 non-null   uint8
 21  Book           2384 non-null   uint8
 22  Card game      2384 non-null   uint8
 23  Game           2384 non-null   uint8
 24  Light novel    2384 non-null   uint8
 25  Manga          2384 non-null   uint8
 26  Novel          2384 non-null   uint8
 27  Original       2384 non-null   uint8
 28  Other          2384 non-null   uint8
 29  Unknown        2384 non-null   uint8
 30  Visual novel   2384 non-null   uint8
 31  Web manga      2384 non-null   uint8
dtypes: float64(3), int64(5), object(11), uint8(13)
memory usage: 402.8+ KB

In [28]:
df_merge['genres'] = df_merge['genres'].str.replace("[\[\]\"']", "")

In [29]:
df_merge.head(5)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,...,Card game,Game,Light novel,Manga,Novel,Original,Other,Unknown,Visual novel,Web manga
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",38,Spring 1998,27.0,2,...,0,0,0,0,0,1,0,0,0,0
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,"Comedy, Drama, Fantasy, Magic, Romance, Shoujo...",2075,Spring 2001,2703.0,1,...,0,0,0,1,0,0,0,0,0,0
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,"Action, Sci-Fi, Adventure, Space, Drama, Seinen",2980,Spring 1978,1008.0,1,...,0,0,0,1,0,0,0,0,0,0
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24.0,73,"Action, Fantasy, Game, Shounen",2167,Spring 2011,6482.0,1,...,0,0,0,1,0,0,0,0,0,0
15,10030,2011-10-01T00:00:00+00:00,2012-03-24T00:00:00+00:00,24.0,25,"Comedy, Drama, Romance, Shounen",450,Fall 2011,135.0,1,...,0,0,0,1,0,0,0,0,0,0

In [30]:
merge_dummie = df_merge['genres'].str.get_dummies(sep = ',')

In [31]:
merge_dummie.head(5)

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Romance,School,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller
0,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
new_merge = pd.concat([df_merge, merge_dummie], axis = 'columns')

In [33]:
new_merge.head(5)

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,...,Romance,School,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",38,Spring 1998,27.0,2,...,0,0,0,0,0,0,0,0,0,0
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,"Comedy, Drama, Fantasy, Magic, Romance, Shoujo...",2075,Spring 2001,2703.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,"Action, Sci-Fi, Adventure, Space, Drama, Seinen",2980,Spring 1978,1008.0,1,...,0,0,0,0,0,0,0,0,0,0
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24.0,73,"Action, Fantasy, Game, Shounen",2167,Spring 2011,6482.0,1,...,0,0,0,0,0,0,0,0,0,0
15,10030,2011-10-01T00:00:00+00:00,2012-03-24T00:00:00+00:00,24.0,25,"Comedy, Drama, Romance, Shounen",450,Fall 2011,135.0,1,...,0,0,0,0,0,0,0,0,0,0

In [34]:
new_mer = new_merge.drop(['type', 'source', 'genres'], axis = 'columns')
new_mer.head(4)

,mal_id,aired_from,aired_to,duration,episodes,popularity,premiered,rank,rating,score,...,Romance,School,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,38,Spring 1998,27.0,2,8.79,...,0,0,0,0,0,0,0,0,0,0
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,2075,Spring 2001,2703.0,1,7.21,...,0,0,0,0,0,0,0,0,0,0
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,2980,Spring 1978,1008.0,1,7.71,...,0,0,0,0,0,0,0,0,0,0
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24.0,73,2167,Spring 2011,6482.0,1,6.35,...,0,0,0,0,0,0,0,0,0,0

In [35]:
new_mer[['premiered_season', 'premiered_year']] = new_mer['premiered'].str.split(expand = True)

In [36]:
new_mer.head(5)

,mal_id,aired_from,aired_to,duration,episodes,popularity,premiered,rank,rating,score,...,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,premiered_season,premiered_year
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,38,Spring 1998,27.0,2,8.79,...,0,0,0,0,0,0,0,0,Spring,1998
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,2075,Spring 2001,2703.0,1,7.21,...,0,0,0,0,0,0,0,0,Spring,2001
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,2980,Spring 1978,1008.0,1,7.71,...,0,0,0,0,0,0,0,0,Spring,1978
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24.0,73,2167,Spring 2011,6482.0,1,6.35,...,0,0,0,0,0,0,0,0,Spring,2011
15,10030,2011-10-01T00:00:00+00:00,2012-03-24T00:00:00+00:00,24.0,25,450,Fall 2011,135.0,1,8.41,...,0,0,0,0,0,0,0,0,Fall,2011

In [37]:
new_mer.head(4)

,mal_id,aired_from,aired_to,duration,episodes,popularity,premiered,rank,rating,score,...,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,premiered_season,premiered_year
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,38,Spring 1998,27.0,2,8.79,...,0,0,0,0,0,0,0,0,Spring,1998
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,2075,Spring 2001,2703.0,1,7.21,...,0,0,0,0,0,0,0,0,Spring,2001
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,2980,Spring 1978,1008.0,1,7.71,...,0,0,0,0,0,0,0,0,Spring,1978
8,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24.0,73,2167,Spring 2011,6482.0,1,6.35,...,0,0,0,0,0,0,0,0,Spring,2011

In [38]:
new_mer.premiered_season

0        Spring
1        Spring
2        Spring
8        Spring
15         Fall
          ...
11315    Spring
11319    Spring
11325      Fall
11326      Fall
11329    Spring
Name: premiered_season, Length: 2384, dtype: object

In [39]:
def season(x):
    if x == 'Spring':
        return 1
    elif x == 'Fall':
        return 2
    elif x == 'Winter':
        return 3
    elif x == 'Summer':
        return 4
new_mer['premiered_season'] = new_mer['premiered_season'].apply(season)

In [40]:
new_mer.head(3)

,mal_id,aired_from,aired_to,duration,episodes,popularity,premiered,rank,rating,score,...,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,premiered_season,premiered_year
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,38,Spring 1998,27.0,2,8.79,...,0,0,0,0,0,0,0,0,1,1998
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,2075,Spring 2001,2703.0,1,7.21,...,0,0,0,0,0,0,0,0,1,2001
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,2980,Spring 1978,1008.0,1,7.71,...,0,0,0,0,0,0,0,0,1,1978

In [41]:
new_mer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2384 entries, 0 to 11329
Columns: 103 entries, mal_id to premiered_year
dtypes: float64(3), int64(78), object(9), uint8(13)
memory usage: 1.7+ MB

In [42]:
new_mer['Web manga'] = new_mer['Web manga'].astype(np.int64)
new_mer['TV'] = new_mer['TV'].astype(np.int64)
new_mer['4-koma manga'] = new_mer['4-koma manga'].astype(np.int64)
new_mer['Book'] = new_mer['Book'].astype(np.int64)
new_mer['Game'] = new_mer['Game'].astype(np.int64)
new_mer['Light novel'] = new_mer['Light novel'].astype(np.int64)
new_mer['Manga'] = new_mer['Manga'].astype(np.int64)
new_mer['Novel'] = new_mer['Novel'].astype(np.int64)
new_mer['Original'] = new_mer['Original'].astype(np.int64)
new_mer['Other'] = new_mer['Other'].astype(np.int64)
new_mer['Unknown'] = new_mer['Unknown'].astype(np.int64)
new_mer['Visual novel'] = new_mer['Visual novel'].astype(np.int64)
new_mer['Card game'] = new_mer['Card game'].astype(np.int64)

In [43]:
new_mer.set_index('title', inplace=True)

In [44]:
new_mer.head(4)

,mal_id,aired_from,aired_to,duration,episodes,popularity,premiered,rank,rating,score,...,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,premiered_season,premiered_year
title,,,,,,,,,,,,,,,,,,,,,
Cowboy Bebop,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24.0,26,38,Spring 1998,27.0,2,8.79,...,0,0,0,0,0,0,0,0,1,1998
Shin Shirayuki-hime Densetsu Prétear,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23.0,13,2075,Spring 2001,2703.0,1,7.21,...,0,0,0,0,0,0,0,0,1,2001
Uchuu Kaizoku Captain Herlock,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25.0,42,2980,Spring 1978,1008.0,1,7.71,...,0,0,0,0,0,0,0,0,1,1978
Yu☆Gi☆Oh! Zexal,10015,2011-04-11T00:00:00+00:00,2012-09-24T00:00:00+00:00,24.0,73,2167,Spring 2011,6482.0,1,6.35,...,0,0,0,0,0,0,0,0,1,2011

In [45]:
new_mer = new_mer.drop(['premiered', 'aired_from', 'aired_to', 'studios', 'synopsis', 'status', 'title_english', 'mal_id', 'popularity', 'scored_by'], axis = 'columns')

In [46]:
# new_mer = new_mer.drop(['synopsis', 'status', 'title_english', 'mal_id'], axis = 'columns')

In [47]:
# new_mer = new_mer.drop(['popularity'], axis = 'columns')

In [48]:
new_mer.head(4)

,duration,episodes,rank,rating,score,TV,4-koma manga,Book,Card game,Game,...,Sci-Fi,Seinen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,premiered_season,premiered_year
title,,,,,,,,,,,,,,,,,,,,,
Cowboy Bebop,24.0,26,27.0,2,8.79,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1998
Shin Shirayuki-hime Densetsu Prétear,23.0,13,2703.0,1,7.21,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2001
Uchuu Kaizoku Captain Herlock,25.0,42,1008.0,1,7.71,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1978
Yu☆Gi☆Oh! Zexal,24.0,73,6482.0,1,6.35,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2011

In [49]:
new_mer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2384 entries, Cowboy Bebop to Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai.
Data columns (total 92 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   duration          2384 non-null   float64
 1   episodes          2384 non-null   int64
 2   rank              2384 non-null   float64
 3   rating            2384 non-null   int64
 4   score             2384 non-null   float64
 5   TV                2384 non-null   int64
 6   4-koma manga      2384 non-null   int64
 7   Book              2384 non-null   int64
 8   Card game         2384 non-null   int64
 9   Game              2384 non-null   int64
 10  Light novel       2384 non-null   int64
 11  Manga             2384 non-null   int64
 12  Novel             2384 non-null   int64
 13  Original          2384 non-null   int64
 14  Other             2384 non-null   int64
 15  Unknown           2384 non-null   int64
 16  Visual novel      2384 non-null   int64
 17  Web manga         2384 non-null   int64
 18   Adventure        2384 non-null   int64
 19   Cars             2384 non-null   int64
 20   Comedy           2384 non-null   int64
 21   Dementia         2384 non-null   int64
 22   Demons           2384 non-null   int64
 23   Drama            2384 non-null   int64
 24   Ecchi            2384 non-null   int64
 25   Fantasy          2384 non-null   int64
 26   Game             2384 non-null   int64
 27   Harem            2384 non-null   int64
 28   Historical       2384 non-null   int64
 29   Horror           2384 non-null   int64
 30   Josei            2384 non-null   int64
 31   Kids             2384 non-null   int64
 32   Magic            2384 non-null   int64
 33   Martial Arts     2384 non-null   int64
 34   Mecha            2384 non-null   int64
 35   Military         2384 non-null   int64
 36   Music            2384 non-null   int64
 37   Mystery          2384 non-null   int64
 38   Parody           2384 non-null   int64
 39   Police           2384 non-null   int64
 40   Psychological    2384 non-null   int64
 41   Romance          2384 non-null   int64
 42   Samurai          2384 non-null   int64
 43   School           2384 non-null   int64
 44   Sci-Fi           2384 non-null   int64
 45   Seinen           2384 non-null   int64
 46   Shoujo           2384 non-null   int64
 47   Shoujo Ai        2384 non-null   int64
 48   Shounen          2384 non-null   int64
 49   Shounen Ai       2384 non-null   int64
 50   Slice of Life    2384 non-null   int64
 51   Space            2384 non-null   int64
 52   Sports           2384 non-null   int64
 53   Super Power      2384 non-null   int64
 54   Supernatural     2384 non-null   int64
 55   Thriller         2384 non-null   int64
 56   Vampire          2384 non-null   int64
 57  Action            2384 non-null   int64
 58  Adventure         2384 non-null   int64
 59  Cars              2384 non-null   int64
 60  Comedy            2384 non-null   int64
 61  Dementia          2384 non-null   int64
 62  Demons            2384 non-null   int64
 63  Drama             2384 non-null   int64
 64  Ecchi             2384 non-null   int64
 65  Fantasy           2384 non-null   int64
 66  Game              2384 non-null   int64
 67  Harem             2384 non-null   int64
 68  Historical        2384 non-null   int64
 69  Horror            2384 non-null   int64
 70  Josei             2384 non-null   int64
 71  Kids              2384 non-null   int64
 72  Magic             2384 non-null   int64
 73  Martial Arts      2384 non-null   int64
 74  Mecha             2384 non-null   int64
 75  Military          2384 non-null   int64
 76  Music             2384 non-null   int64
 77  Mystery           2384 non-null   int64
 78  Parody            2384 non-null   int64
 79  Psychological     2384 non-null   int64
 80  Romance           2384 non-null   int64
 81  School            2384 non-null   int64
 82  Sci-Fi            2384 non-null   int64
 83  Seinen            2384 non-null   int64
 84  Slice of Life     2384 non-null   int64
 85  Space             2384 non-null   int64
 86  Sports            2384 non-null   int64
 87  Super Power       2384 non-null   int64
 88  Supernatural      2384 non-null   int64
 89  Thriller          2384 non-null   int64
 90  premiered_season  2384 non-null   int64
 91  premiered_year    2384 non-null   object
dtypes: float64(3), int64(88), object(1)
memory usage: 1.7+ MB

In [50]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(new_mer, test_size = 0.2, random_state = 7)

In [54]:
X = new_mer.drop(['score'], axis = 1)
y = new_mer['score'].copy()

In [51]:
data = train_set.drop(['score'], axis = 1)
data_labels = train_set['score'].copy()

In [55]:
test_data = test_set.drop(['score'], axis = 1)
test_data_labels = test_set['score'].copy()

In [56]:
scaler = StandardScaler()
scaler.fit(X)

X_scaled = scaler.transform(X)

In [57]:
pca = PCA(n_components = 60)
pca.fit(X_scaled)
X_pca = pca.transform(X_scaled)

print("Original shape: {}".format(str(X_scaled.shape)))
print("Reduced shape: {}".format(str(X_pca.shape)))

Original shape: (2384, 91)
Reduced shape: (2384, 60)

In [58]:
pca.explained_variance_

array([3.34113565, 2.64980258, 2.40603067, 2.25393373, 2.20054148,
       2.08348269, 1.80982649, 1.65177249, 1.62378604, 1.53393382,
       1.45998073, 1.36833449, 1.34886259, 1.34720413, 1.28578007,
       1.26446323, 1.25700262, 1.24483212, 1.22678024, 1.19113   ,
       1.18643275, 1.16251355, 1.14991827, 1.1329036 , 1.12124531,
       1.11293044, 1.09426653, 1.08328417, 1.07937613, 1.06936838,
       1.0546821 , 1.04764609, 1.04363073, 1.03494366, 1.02458137,
       1.01670745, 1.01373277, 1.00951116, 1.00240294, 0.99715119,
       0.99409507, 0.98967916, 0.98237469, 0.97346882, 0.96539367,
       0.95658104, 0.95162896, 0.93884968, 0.92769742, 0.91831014,
       0.89622193, 0.89086867, 0.88349764, 0.87081363, 0.86153726,
       0.8427582 , 0.8384953 , 0.81728873, 0.80339914, 0.78331823])

In [59]:
pca.explained_variance_ratio_

array([0.03710816, 0.0294299 , 0.02672246, 0.0250332 , 0.0244402 ,
       0.0231401 , 0.02010075, 0.01834533, 0.0180345 , 0.01703656,
       0.0162152 , 0.01519734, 0.01498108, 0.01496266, 0.01428045,
       0.0140437 , 0.01396084, 0.01382567, 0.01362517, 0.01322923,
       0.01317706, 0.0129114 , 0.01277151, 0.01258254, 0.01245306,
       0.01236071, 0.01215342, 0.01203144, 0.01198804, 0.01187689,
       0.01171377, 0.01163563, 0.01159103, 0.01149455, 0.01137946,
       0.01129201, 0.01125897, 0.01121209, 0.01113314, 0.01107481,
       0.01104087, 0.01099182, 0.0109107 , 0.01081178, 0.0107221 ,
       0.01062422, 0.01056922, 0.01042729, 0.01030343, 0.01019917,
       0.00995384, 0.00989439, 0.00981252, 0.00967165, 0.00956862,
       0.00936005, 0.00931271, 0.00907718, 0.00892291, 0.00869989])

In [60]:
pca.explained_variance_ratio_.cumsum()

array([0.03710816, 0.06653806, 0.09326052, 0.11829372, 0.14273393,
       0.16587402, 0.18597477, 0.2043201 , 0.2223546 , 0.23939116,
       0.25560636, 0.2708037 , 0.28578478, 0.30074743, 0.31502789,
       0.32907159, 0.34303242, 0.35685809, 0.37048326, 0.38371249,
       0.39688955, 0.40980094, 0.42257245, 0.43515499, 0.44760805,
       0.45996875, 0.47212217, 0.48415361, 0.49614165, 0.50801854,
       0.51973231, 0.53136794, 0.54295897, 0.55445352, 0.56583299,
       0.577125  , 0.58838397, 0.59959606, 0.61072919, 0.62180401,
       0.63284487, 0.6438367 , 0.65474739, 0.66555917, 0.67628127,
       0.68690549, 0.69747471, 0.707902  , 0.71820542, 0.72840459,
       0.73835843, 0.74825282, 0.75806535, 0.76773699, 0.77730562,
       0.78666567, 0.79597837, 0.80505555, 0.81397846, 0.82267835])

In [61]:
print("PCA components:\n{}".format(pca.components_))

PCA components:
[[ 1.20684090e-01  1.33948291e-01  5.75955188e-02 ... -6.55191949e-05
  -8.45214696e-02 -2.58877365e-01]
 [-2.73365338e-01  3.96499812e-02  3.35372521e-01 ...  1.31548407e-03
  -3.94272805e-03 -1.10740184e-01]
 [-7.53747448e-02 -1.77865291e-01 -9.18650713e-03 ...  1.28734204e-02
   6.74425526e-02  1.05280180e-01]
 ...
 [-6.08776901e-02  3.62830869e-02  7.57400498e-02 ... -1.13674008e-02
  -1.85983283e-01 -3.87391697e-02]
 [-5.00771277e-02 -8.60827062e-02  3.10355588e-02 ... -6.45919934e-02
   2.18297621e-01  9.25007568e-02]
 [ 1.13186433e-01  1.07245995e-01 -1.64260646e-01 ...  8.02990975e-02
   1.13598386e-01 -1.43716998e-02]]

In [62]:
print("PCA component shape: {}".format(pca.components_.shape))

PCA component shape: (60, 91)

In [63]:
test_df = new_mer.copy()

In [64]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(new_mer)
df_matrix = scaler.transform(new_mer)

In [65]:
pca = PCA().fit(new_mer)
top_PCA=["%.2f" % a for a in pca.explained_variance_ratio_ if a >=0.01]
print(len(top_PCA))
print(top_PCA)
sumall=sum(pca.explained_variance_ratio_)

pca39 = PCA(n_components=len(top_PCA)).fit(new_mer)
sum39 = sum(pca39.explained_variance_ratio_)
print (sum39/sumall)

1
['1.00']
0.9996062110049588

In [66]:
first_comp = pca39.components_[0]
first_comps = pd.DataFrame(list(zip(first_comp, new_mer.columns)), columns=['weights', 'features'])
first_comps['abs_weights']=first_comps['weights'].apply(lambda x: np.abs(x))
first_comps.sort_values('abs_weights', ascending=False,inplace=True)

Top_39_features =first_comps
pd.set_option('display.max_rows', Top_39_features.shape[0]+1)
print(Top_39_features)

         weights          features   abs_weights
2   9.999989e-01              rank  9.999989e-01
1  -1.168351e-03          episodes  1.168351e-03
0  -7.852551e-04          duration  7.852551e-04
4  -2.856622e-04             score  2.856622e-04
91 -1.997172e-04    premiered_year  1.997172e-04
3   9.204104e-05            rating  9.204104e-05
11 -4.827034e-05             Manga  4.827034e-05
23 -3.032080e-05             Drama  3.032080e-05
48 -2.485244e-05           Shounen  2.485244e-05
41 -2.215000e-05           Romance  2.215000e-05
90  2.108269e-05  premiered_season  2.108269e-05
54 -1.816630e-05      Supernatural  1.816630e-05
13  1.764118e-05          Original  1.764118e-05
15  1.686279e-05           Unknown  1.686279e-05
43 -1.491913e-05            School  1.491913e-05
9   1.381344e-05              Game  1.381344e-05
45 -1.335808e-05            Seinen  1.335808e-05
57 -1.246850e-05            Action  1.246850e-05
10 -1.216524e-05       Light novel  1.216524e-05
20 -1.177408e-05            Comedy  1.177408e-05
37 -1.031325e-05           Mystery  1.031325e-05
31  8.039783e-06              Kids  8.039783e-06
24  8.000302e-06             Ecchi  8.000302e-06
28 -7.955538e-06        Historical  7.955538e-06
84 -7.479525e-06     Slice of Life  7.479525e-06
46 -7.353019e-06            Shoujo  7.353019e-06
22 -7.208336e-06            Demons  7.208336e-06
40 -7.112672e-06     Psychological  7.112672e-06
35 -6.912417e-06          Military  6.912417e-06
50 -6.371186e-06     Slice of Life  6.371186e-06
53 -5.662522e-06       Super Power  5.662522e-06
63 -4.826674e-06             Drama  4.826674e-06
34  4.696385e-06             Mecha  4.696385e-06
65  4.481355e-06           Fantasy  4.481355e-06
14  4.233198e-06             Other  4.233198e-06
58  4.232050e-06         Adventure  4.232050e-06
55 -3.759158e-06          Thriller  3.759158e-06
16  3.579672e-06      Visual novel  3.579672e-06
25 -3.265660e-06           Fantasy  3.265660e-06
32 -3.213954e-06             Magic  3.213954e-06
18 -3.043525e-06         Adventure  3.043525e-06
66  2.998853e-06              Game  2.998853e-06
77 -2.927871e-06           Mystery  2.927871e-06
52 -2.630102e-06            Sports  2.630102e-06
44  2.524049e-06            Sci-Fi  2.524049e-06
27  2.394979e-06             Harem  2.394979e-06
64  2.316516e-06             Ecchi  2.316516e-06
71  2.256075e-06              Kids  2.256075e-06
30 -2.120972e-06             Josei  2.120972e-06
42 -2.057902e-06           Samurai  2.057902e-06
12 -2.047061e-06             Novel  2.047061e-06
29  2.046640e-06            Horror  2.046640e-06
72  2.009817e-06             Magic  2.009817e-06
17  2.006616e-06         Web manga  2.006616e-06
68  1.473289e-06        Historical  1.473289e-06
76  1.424554e-06             Music  1.424554e-06
19  1.349202e-06              Cars  1.349202e-06
86  1.297439e-06            Sports  1.297439e-06
74  1.199417e-06             Mecha  1.199417e-06
8   1.154785e-06         Card game  1.154785e-06
61  1.152207e-06          Dementia  1.152207e-06
51 -1.141842e-06             Space  1.141842e-06
6  -1.017290e-06      4-koma manga  1.017290e-06
7   9.282491e-07              Book  9.282491e-07
67  9.086033e-07             Harem  9.086033e-07
38 -8.709001e-07            Parody  8.709001e-07
26  8.437563e-07              Game  8.437563e-07
82  8.397252e-07            Sci-Fi  8.397252e-07
69  8.322748e-07            Horror  8.322748e-07
60  8.102363e-07            Comedy  8.102363e-07
36 -7.090717e-07             Music  7.090717e-07
56 -7.086633e-07           Vampire  7.086633e-07
49 -5.864801e-07        Shounen Ai  5.864801e-07
88  4.963022e-07      Supernatural  4.963022e-07
21 -4.831378e-07          Dementia  4.831378e-07
78  4.611281e-07            Parody  4.611281e-07
79 -4.117980e-07     Psychological  4.117980e-07
62 -3.955801e-07            Demons  3.955801e-07
81  3.525807e-07            School  3.525807e-07
80 -2.430487e-07           Romance  2.430487e-07
47  2.331977e-07         Shoujo Ai  2.331977e-07
89 -2.210221e-07          Thriller  2.210221e-07
70 -2.140532e-07             Josei  2.140532e-07
33 -1.670284e-07      Martial Arts  1.670284e-07
39  1.506030e-07            Police  1.506030e-07
73 -1.457945e-07      Martial Arts  1.457945e-07
59  1.416107e-07              Cars  1.416107e-07
85 -1.095900e-07             Space  1.095900e-07
75 -1.078162e-07          Military  1.078162e-07
83 -9.400971e-08            Seinen  9.400971e-08
87 -3.874858e-08       Super Power  3.874858e-08
5  -0.000000e+00                TV  0.000000e+00